PointOfSalesV2/.vs/
PointOfSalesV2/PointOfSalesV2.Api/bin/
PointOfSalesV2/PointOfSalesV2.Api/obj/
PointOfSalesV2/PointOfSalesV2.Repository/obj/
PointOfSalesV2/PointOfSalesV2.EntityFramework/obj/
PointOfSalesV2/PointOfSalesV2.Entities/obj/
PointOfSalesV2/PointOfSalesV2.Common/bin/
PointOfSalesV2/PointOfSalesV2.Common/obj/
PointOfSalesV2/PointOfSalesV2.Entities/bin/
PointOfSalesV2/PointOfSalesV2.EntityFramework/bin/
PointOfSalesV2/PointOfSalesV2.Repository/bin/
